// Variable SCSS

$images-path: "../images";
$icons-path: $images-path + "/icons";

// Fonts
$font-nunito: ('Nunito Sans', sans-serif);
$font-playfair: ('Playfair Display');

// Colors
$primary: #141426;
$secondary: #F9FAFB;
$gray-700: #404040;
$gray-500: #6B7280;
$gray-200: #E5E7EB;
$gray-300: #F8F8F8;

$white: #FFFFFF;
$black: #000000;
$link: #2B68DE;

// Breakpoints
$mini-mobile-width: 374px;
$mobile-width: 767px;
$tablet-width: 1023px;
$laptop-width: 1199px;
$desktop-width: 1399px;

// Container Sizes
$container: 1280px;
$gutter-x: 32px;
$gutter-x-xs: 24px;
$gutter-x-xxs: 15px;

// Transition
$link-transition: 200ms all ease;
$btn-transition: 300ms background-color ease,
300ms color ease,
300ms border-color ease,
300ms opacity ease;

// Z-index
$zindex-search-widget-state1: 11;
$zindex-header: 10;
$zindex-search-widget: 9;
$zindex-over-overflow: 4;
$zindex-iframe-overflow: 3;
$zindex-input-icon: 1;


//old support

// Colors
$gray-900: #27273F; // headings
$gray-800: #0B2440; //button text
$gray-600: #7C8DB0; // input border
$gray-400: #7C8DB0; // input text color
$gray-100: #F9FAFB;


